.highlights-container {
      background-color: #332b5f;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
}

.section-title {
      text-align: center;
}

.button-load {
      background-color: #251f47;
      border: none;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      font-size: medium;
      float: right;
      cursor: pointer;
}

.highlights-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 30px;
      padding-right: 30px;
}

.highlights-container-details {
      background-color: #332b5f;
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
}

.highlight-text {
      padding: 20px;
      width: 50%;
}

.highlight-image {
      padding: 20px;
      display: flex;
      justify-content: center;
      width: 50%;
      height: 100%;
}

@media (max-width: 1280px){
      .highlights-content {
            display: flex;
            flex-direction: column;
      }
}

@media (max-width:1280px){
      .highlight-text {
            width: 100%;
            margin: 0;
            padding: 0;
      }
}

@media (max-width: 1280px) {
      .highlight-image {
            width:100%;
            margin: 0;
            padding: 0;
      }
}

.releases-container {
      max-width: 1320px;
      margin: 0 auto;
      padding: 0, 24px;
}

.releases-header {
      display: flex;
      justify-content: space-between;
}

.releases-content {
      margin-top: 30px;     
      display: grid;     
      gap: 20px;     
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;     
}

@media (max-width: 1200px) {
      .releases-content{
            grid-template-columns: repeat(3,1fr);
      }
}
@media (max-width: 900px) {
      .releases-content{
            grid-template-columns: repeat(2,1fr);
      }
}
@media (max-width: 720px) {
      .releases-content{
            grid-template-columns: repeat(1,1fr);
      }
}

.releases-content > button {
      left: 0;    
}

.platforms-container {
      padding-top: 40px;
      max-width: 1320px;
      margin: 0 auto;
      padding: 0, 24px;
}

.platforms-content {
      margin-top: 30px;     
      display: grid;     
      gap: 20px;     
      grid-template-columns: repeat(3, 1fr); 
}

@media (max-width: 1200px) {
      .platforms-content{
            grid-template-columns: repeat(2,1fr);
      }
}
@media (max-width: 720px) {
      .platforms-content{
            grid-template-columns: repeat(1,1fr);
      }
}

.publishers-container {
      padding-top: 40px;
      max-width: 1320px;
      margin: 0 auto;
      padding: 0, 24px;

}

.publishers-content {
      margin-top: 30px;
      display: grid;     
      gap: 20px;     
      grid-template-columns: repeat(3, 1fr); 
}

@media (max-width: 1200px) {
      .publishers-content{
            grid-template-columns: repeat(2,1fr);
      }
}
@media (max-width: 720px) {
      .publishers-content{
            grid-template-columns: repeat(1,1fr);
      }
}